@import "./colors.scss";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: inherit;

  &-color {
    color: rgb(114, 114, 210);
  }
}

ul {
  list-style: none;
  padding: 0;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.error {
  color: crimson;
  font-size: 14px;
}

.lightblueBudget {
  color: $primary-color;
}

.warnBudget {
  color: $light-warn-color;
}
