@import "../../assets/index";

.productEdit {
  min-height: 100%;

  @include themify($themes) {
    background-color: themed(bg);
  }

  .productEditWrapper {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    .productEditForm {
      display: flex;
      gap: 30px;
      width: 100%;

      .colors {
        display: flex;
        flex-wrap: wrap;

        .colorRadio {
          width: 50%;
          display: flex;
          align-items: center;
          gap: 5px;
          margin: 5px 0;

          .colorBlock {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid lightgray;
            // border: 2px solid #007dfc;
          }
          .aqua {
            background-color: aqua;
          }
          .black {
            background-color: black;
          }
          .blue {
            background-color: blue;
          }
          .brown {
            background-color: brown;
          }
          .gold {
            background-color: gold;
          }
          .gray {
            background-color: gray;
          }
          .green {
            background-color: green;
          }
          .white {
            background-color: white;
          }
          .yellow {
            background-color: yellow;
          }
        }
      }
    }

    .form-group-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row !important;
      gap: 30px;
    }

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: fit-content;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .rightWrapper {
        display: flex;
        gap: 30px;
        flex-direction: column;
        height: fit-content;
      }
    }
  }
}
