@import "../../assets/index";

.newLetterList {
  .newLetterListWrapper {
    padding: 20px;
    min-height: calc(100vh - 130px);
    display: flex;
    gap: 20px;

    @include themify($themes) {
      background-color: themed(bg);
    }

    .left,
    .right {
      flex: 1;
    }

    .left {
      height: fit-content;

      .newLetterEditForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
  
        .form-group {
          .categoryImg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
